html {
	box-sizing: border-box;
}

body { 
	min-height: 100vh;
}

h3 {
	margin: 20px 0px 10px 0px;
	letter-spacing: 3px;
}

.header {
	padding: 0px 0px 0px 0px;
	color: grey;
}

h1, h3, #magicNumber, #totalScore, #wins, #losses, .score {
	color: darkgrey;
}

h1 {
	color: black;
	margin: 55px 0px 75px 0px;
	letter-spacing: 12px;
}

.crystalimg {
	width: 150px;
	margin: 30px auto;
}

.directions {
	color: grey;
	text-align: center;
	padding: 20px 85px;
}

.score {
    padding-bottom: 20px;
    padding-top: 20px;
	margin-bottom: 0;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 3px;
}

#winOrLose {
	color: rgb(71, 71, 71);
}

.total, .scores, .directions {
	margin: auto;
}

.btn {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: rgb(71, 71, 71);
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.container {
    margin-bottom: 30px;
}